

#footer-wrapper img {
    height: 150px;
    
}

#footer-address-wrapper {
    margin: 0 auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #90499B;

}

#footer-address-wrapper a {
    color: #90499B;
}
#email-signup-form-wrapper {
    margin: 0 auto;
    text-align: center;
}

#email-signup-form {
    margin: 0 auto;
}

#email-signup-form p {
    font-family: 'Poppins', sans-serif;
    color: #90499B;
    font-size: 1.4em;
    display: inline;
    margin-right: 30px;
}

#email-signup-form input{
    display: inline;
    border: none;
    outline: none;
    border-bottom: 2px solid #90499B;
    font-size: 1.4em;
    color:#90499B;
    
}

#email-signup-form input::placeholder, #email-signup-form input:-ms-input-placeholder  {
    color: #90499B;
}

#email-signup-form button {
    background-color: #90499B;
    color: white;
    border: none;
    font-size: 1.4em;
}

#footer-social-links-wrapper {
    display: inline-block;
}

#footer-social-links-wrapper ul {
    list-style-type: none;
}

#footer-social-links-wrapper ul li {
    display: inline;
}

#bottom-footer {
    background-color: #90499B;
}

#bottom-footer p {
    text-align: center;
    color: white;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
}