#what-do-wrapper {
    width: 100vw;
    /* height: 60vh; */
    background-color: white;
    /* white-space: nowrap; */
}

#what-do-wrapper h2{
    text-align: center;
    color: #90499B;
    font-family: 'Allura', cursive;
    font-size: 2.4em;
    
}

.what-do-icons {
    font-size: 6em;
}

#what-do-list {
    text-align: center;
}

#what-do-list li a {
    color: #B5BE32;
    font-size: 1.1em;
    font-family: 'Poppins', sans-serif;
}

#what-do-list > li {
    display: inline;
    font-size: 1.2em;
    margin-bottom: 7px;
    font-family: 'Poppins', sans-serif;
}

.icon-wrapper {
    padding-top: 15px;
}

.service-wrapper {
    border: 2px solid #90499B;
    width: 18vw;
    display: inline-block;
    margin: 10px;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
}

.service-wrapper:hover {
    /* box shadow */
}

.service-content {
    background-color: #90499B;
    border: 2px solid white;
    padding-top: 9px;

}

.service-content li {
    color: white;
    display: list-item;
}



.icon-wrapper {
    height: 150px;
    width: 100%;
}

.service-list {
    list-style-type: none;
    /* text-align: center; */
    margin: 0 auto;
}

.service-list li {
    margin-bottom: 7px;
}


