@import url('https://fonts.googleapis.com/css2?family=Allura&family=Poppins:wght@200&display=swap');


#welcome-picture {
  height: calc(100vh - 160px);
    width: 100vw;
    /* background-color: red; */
    background-image: url('https://images.pexels.com/photos/259588/pexels-photo-259588.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    margin: 0 auto;
    background-size: cover;
    background-attachment: fixed;
}

* {
  transition: all .5s;
  
}